@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Pacifico';
  src: url('../public/fonts/Pacifico-Regular.ttf');
}

/* @layer base {
  html {
    font-family: 'Pacifico';
  }
} */
